# Conexão com o Banco de Dados

O famoso CRUD

In [2]:
import pyodbc

server = 'dlapoio.database.windows.net'
database = 'masterUber'
username = 'andre'
password = 'ShC12%Uz'
driver = 'SQL Server'

cnxn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+password)
cursor = cnxn.cursor()

cursor.execute('SELECT author FROM tb_pessoas WHERE ')

for linha in cursor.fetchall():
    print(linha)

ProgrammingError: ('42S22', "[42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]Invalid column name 'authorId'. (207) (SQLExecDirectW); [42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]Invalid column name 'author'. (207)")

## CREATE

In [1]:
import sqlite3

conn = sqlite3.connect('espm4s.db')

cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS tb_estado(
    estadoId INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL
)
""")   

print('Tabela criada com sucesso')

conn.commit()

cursor.execute("""
CREATE TABLE IF NOT EXISTS tb_pessoa(
    pessoaId INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    estadoId INTEGER,
    nome TEXT NOT NULL,
    idade INT NOT NULL,
    FOREIGN KEY(estadoId) REFERENCES tb_estado(estadoId));""")

conn.commit()

print('Tabela criada com sucesso')

conn.close()

Tabela criada com sucesso
Tabela criada com sucesso

## INSERT

In [6]:
import sqlite3

conn = sqlite3.connect('espm4s.db')

cursor = conn.cursor()

nome = input('Digite o nome: ')
idade = int(input('Digite a idade: '))

cursor.execute('INSERT INTO tb_estado (nome) VALUES (?)', ("São Paulo",))
cursor.execute('INSERT INTO tb_pessoa (nome,idade,estadoId) VALUES (?,?,?)', (nome, idade, 1))

print('linha criada')

conn.commit()

conn.close()

linha criada

## UPDATE

In [4]:
import sqlite3

conn = sqlite3.connect('espm4s.db')

cursor = conn.cursor()

cursor.execute('UPDATE tb_pessoa SET nome = ? WHERE pessoaId = ?', ('João', 1))

print('update efetuado com sucesso')

conn.commit()

conn.close()

update efetuado com sucesso

## DELETE

In [5]:
import sqlite3

conn = sqlite3.connect('espm4s.db')

cursor = conn.cursor()

cursor.execute('DELETE FROM tb_pessoa WHERE pessoaId = 1')

print('deletado com sucesso')

conn.commit()

conn.close()

deletado com sucesso

## SELECT

In [11]:
import sqlite3

conn = sqlite3.connect('espm4s.db')

cursor = conn.cursor()

cursor.execute('SELECT * FROM tb_pessoa INNER JOIN tb_estado on tb_estado.estadoId = tb_pessoa.estadoId')
select = cursor.fetchone()
print(select)

conn.close()

(2, 1, 'João Lucas', 19, 1, 'São Paulo')